extends ../layout

block content
  h1 COVID-19 Dashboard
  div(id="statsContainer")
    div(class="stats")
      h2(class="stat__title") Confirmed Cases by Country
  script(src="/primus/primus.js")
  script(src="/javascripts/index.js")