extends ../layout

block content
  h1 COVID-19 Update stats
  div(id="statsContainer")
    div(class="stats")
      h2(class="stat__title") How many people are infected?
      div(class="info")
        p(class="info--text")
      div(class="stat")
        input(type="text" id="numberInfected" class="input--numberInfected stat__input" placeholder="Fill here a number")
        select(id="country" class="stat__input")
          option(class="placeholder" value="") --select a country--
        button(id="btnUpdate" class="stat__btn") Update Statistics
  script(src="/primus/primus.js")
  script(src="/javascripts/update.js")